<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <title>Perfil de usuario</title>
  </head>
  <body>
    <nav>
      <span id="welcome-message">Bienvenido, usuario {{usuario.first_name}} {{usuario.last_name}}</span>
      <a id="logout-button" href="{{url_for('logout')}}">Cerrar sesión</a>
    </nav>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quibusdam est
      ullam enim ut quos aliquam animi, quas mollitia vero, qui, beatae deserunt
      officiis placeat sequi! Accusamus cupiditate veritatis ratione ipsum
      magnam consequuntur doloremque cum consectetur quia quae sit aperiam
      distinctio aliquam in, exercitationem atque dolor impedit aspernatur
      facere reiciendis iure quibusdam? Quidem suscipit est nulla atque odit
      labore error. Mollitia maiores, aspernatur sunt maxime dignissimos
      deleniti praesentium beatae dolor repellat et earum, fugiat atque ipsa
      voluptatem. Pariatur dolorum, cumque deserunt id quaerat dolor temporibus
      facilis corrupti a dolore dignissimos voluptatem. Quas saepe autem
      eligendi! Voluptate iste praesentium debitis ipsam ab reiciendis, fuga
      maiores rem nostrum assumenda nesciunt eos perspiciatis libero nemo iure
      laborum numquam alias beatae quisquam. Quam eius harum nulla sequi ipsum
      mollitia deserunt perspiciatis consequatur itaque, explicabo aliquid
      maxime provident rerum similique quod, hic numquam nostrum. Sit nobis
      debitis corporis id voluptatum maiores corrupti in ducimus, pariatur rem
      quae saepe modi perferendis iure, ullam eligendi. Aliquam enim vero
      molestias architecto consequatur, voluptas magni odit? Expedita cupiditate
      quaerat odit perspiciatis in assumenda, eligendi recusandae non minus
      maxime fugiat odio excepturi sed repellendus architecto, rerum quidem,
      quae harum omnis quisquam quis temporibus cum minima. Esse, aliquid
      architecto doloribus necessitatibus aspernatur enim! Sequi harum ratione
      aliquam delectus dignissimos vero accusantium. Neque sapiente enim, fugit
      magnam sed eos totam, repellat voluptatum magni voluptate voluptatibus,
      quaerat perferendis illum a expedita doloribus quis ratione tempora
      distinctio nesciunt hic mollitia autem dolores. Minima ut magni voluptates
      dolorum, quam ea et similique delectus est libero exercitationem suscipit
      debitis voluptate in optio architecto. Rem incidunt corrupti error
      praesentium vitae maxime modi! Expedita sunt maxime omnis cum inventore
      praesentium dolorum illo consectetur, delectus repudiandae quis. Commodi
      asperiores ut eius hic totam omnis vitae, cum dolorum quaerat! Voluptas
      doloribus laborum molestias? Similique ex nesciunt iste, iusto sed
      eligendi voluptas nisi reiciendis doloribus cum mollitia distinctio
      obcaecati eaque soluta totam dignissimos vero enim vel perspiciatis odit.
      Ratione debitis repudiandae perferendis dolorum! Earum, ex error nam,
      pariatur itaque voluptatum eveniet quas blanditiis deserunt facere nisi
      sunt accusantium harum, nemo eos quod quia sint neque consequatur. Enim
      tenetur fugiat iure, corrupti pariatur assumenda totam autem inventore
      similique neque veniam repudiandae aperiam aspernatur officiis at fuga
      esse vitae. Maiores illum magni temporibus numquam ipsam aspernatur,
      dolores voluptate earum corporis sunt impedit tempora magnam id dolorem
      dolore cumque blanditiis fugiat accusantium similique facere incidunt.
      Fugiat iure ipsum dignissimos optio perspiciatis quos illum praesentium
      nihil, consectetur, repudiandae eaque, vero eos sapiente omnis impedit
      pariatur eius beatae libero! Molestiae ex facere doloremque nihil alias
      illo nisi, ipsa, consectetur tempore animi necessitatibus eaque omnis.
      Dicta quia neque veniam, quam cum corrupti! Earum eos, veritatis, magni
      adipisci aperiam possimus delectus rem a amet dolores rerum perferendis
      voluptatem similique, quisquam quidem atque repellendus labore inventore
      vero quos libero. Vitae minus fugiat recusandae deleniti adipisci ex
      laudantium quam unde perspiciatis. Possimus voluptatum cum maiores ab?
      Aliquam ex nulla neque! Nihil unde autem veniam minima debitis voluptas
      fuga molestiae delectus labore, est sit quis eius deserunt obcaecati illo
      explicabo sed?
    </p>
  </body>
</html>
